body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#title {
  float: left;
}

#time {
  float: right;
}

/*.table {
  width: 540px;
  margin: 10px;
}

table {
  width:50%;
  float:left;
}*/

.bosTable {
  clear:both;
  float:left;
  width: 540px;
}

.camTable {
  float:right;
  width: 540px;
}

#sum {
  clear: both;
  width: 100%;
}

#Boston caption {
  color:red;
}

#Cambridge caption {
  color:blue;
}

#bosTot {
  color: red;
}

#camTot {
  color: blue;
}